<table class = "user-show" >
  <h3 class = "marker">ユーザー情報</h3>
    <tr>
      <td>ユーザー写真</td>
      <td><%= attachment_image_tag @user, :image, :fill, 150, 150, format: 'jpeg' %></td>
    </tr>
    <tr>
      <td>ユーザー名</td>
      <td><h5 class="user-name"><%= @user.name %></h5></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><h5 class="email"><%= @user.email %></h5></td>
    </tr>
</table>

<div>
  <%= link_to "ユーザー情報編集", edit_user_path(current_user.id), class: "btn btn-primary" %>
</div>